.author.maintext {
    font-size: 15px;
    font-style: italic;
    text-align: end;
    color: brown;}

#title {
    background-color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;}


